<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <suppotedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="username" value="sachinbajantri80@gmail.com"/>
    <add key="password" value="sachin4511"/>
    <add key="token" value="2NkSokLMHCZIfClgtrJjzROW8"/>
    <add key="clientId" value="3MVG9pRzvMkjMb6kASsvnAk3mU2symCP.kBw9SC8yU3_gdcohnbZBhnBvoBDj4RhtCYkdXx45fXRXRevZ861T"/>
    <add key="clientSecret" value="633A2E561F372D1D5F66E5F5FB40A0910BDCE47B5350CCEE7B6DBE4279064526"/>
     
  </appSettings>
  
</configuration>